
body {
    font-family: Arial, sans-serif;
    display: flex;
    height: 100vh;
   
    justify-content: center;
    }
    .dropdown {
        height: 100vh;
    }
.dropdown-btn {
    background-color: #cb9a31;
    color: white;
    padding: 20px 20px;
    border: none;
    cursor: pointer;
    font-size: 20px;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
   
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
   
}
.dropdown-content p {
    color: black;
    padding: 10px 15px;
    display: block;
}
.dropdown-content img{
    display: block;
}

.dropdown-content p:hover {
    background-color: #faffb9;
}
.dropdown:hover .dropdown-content {
    display: block;
}
.dropdown:hover .dropdown-btn {
    background-color: #f6da23;
}